* {
    margin: 0;
    padding: 0;
}
html,
body {
    position: relative;
    height: 100%;
    width: 100%;
}
#calendarContainer {
    position: relative;
}
@media screen and (min-width: 1281px) {
    #calendarTable {
        display: table;
    }
    #calendarCells {
        display: none;
    }
    #calendarContainer h3 {
        font-size: 1.2em;
    }
}
@media screen and (max-width: 1280px) {
    #calendarTable {
        display: none;
    }
    #calendarCells {
        display: block;
    }
    #calendarContainer h3 {
        font-size: 1em;
    }
}
#scheduledEventsButton {
    text-transform: uppercase;
    font-size: 0.75em;
    margin-bottom: 20px;
    padding: 10px;
    display: inline-block;
    font-weight: normal;
    box-shadow: 0px 0px 1px 1px darkgray;
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 10px;
}
#calendarContainer h3 {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 10px 0 0 0;
    text-transform: uppercase;
}
#calendarContainer table {
    margin-top: 10px;
    width: 100%;
    /*background-color: #006062;*/
    border-radius: 10px;
}
#calendarContainer td,
#calendarContainer th {
    text-align: center;
    width: 14%;
    border-radius: 10px;
}
#calendarContainer th {
    height: 30px;
    font-size: 0.75em;
    color: black;
    background-color: rgba(120, 185, 235, 0.1);
    box-shadow: 0px 1px 1px 1px darkgray;
    text-transform: uppercase;
}
.commandEvent {
    margin: 4px 0;
    margin-left: 5px;
    padding-left: 5px;
}
.commandEvent[data-enabled='1'] {
    border-left: 2px solid rgba(120, 185, 235, 0.8);
}
.commandEvent[data-enabled='0'] {
    border-left: 2px solid darkred;
}
.commandName {
    padding-left: 10px;
    font-size: 0.8em;
}
#calendarContainer td {
    background-color: white;
    height: 100px;
    text-transform: uppercase;
    font-size: 0.9em;
}
#calendarContainer table .day {
    position: relative;
    padding: 5px;
    vertical-align: top;
    box-shadow: 0px 1px 1px 1px darkgray;
    text-align: left;
}
#calendarContainer table .day:not(.noMargin) {
    padding-top: 30px;
}
#calendarCells .day {
    position: relative;
    border-radius: 5px;
    background-color: rgb(235, 235, 235);
    box-shadow: 0 0 1px 1px darkgray;
    padding: 4px;
    padding-top: 25px;
    border: 0px solid blue;
    margin: 10px 5px;
}
#calendarContainer .dayEmpty {
    background-color: transparent;
    /*background-color: #ddd;*/
}
#calendarContainer .currentDay {
    background-color: rgba(120, 185, 235, 0.3);
}
#calendarContainer table .day .dayNumber{
    position: absolute;
    top: 5px;
    left: 5px;
}
#calendarCells .day .dayNumber{
    position: absolute;
    top: 0px;
    border-radius: 5px;
    padding: 5px;
    width: calc(100% - 10px);
    left: 0px;
    text-transform: uppercase;
    font-size: 0.9em;
    box-shadow: 0px 1px 1px 1px darkgray;
}
#calendarCells .day .dayEvents{
    padding-top: 15px;
    display: none;
}
#calendarContainer table .day:not(.currentDay) .dayNumber {
    font-size: 1.4em;
}
#calendarContainer .currentDay .dayNumber {
    font-size: 1.5em;
    font-weight: bold;
    color: #1A6FB0;
}
#calendarEventPopup {
    position: fixed;
    z-index: 100;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    width: 400px;
    padding: 10px;
    background-color: white;
    border: 0px solid black;
    display: none;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -o-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
#calendarEventClose {
    position: absolute;
    content: '';
    right: 13px;
    top: 13px;
    z-index: 101;
    width: 20px;
    height: 20px;
    background: url('../immagini/close.png') transparent center center no-repeat;
    background-size: 20px 20px;
    cursor: pointer;
}
#calendarEventDate {
    font-size: 1.5em;
    text-align: center;
    padding-bottom:10px;
}
#calendarEvents {}
#calendarEvents table{
    width: 100%;
}
#calendarEvents table td{
    padding: 5px 10px;
    font-size: 1.1em;
}
#calendarEvents table td:not(.noBorder){
    border-bottom: 1px solid gray;
}
#calendarEvents table td:not(.noBorder):first-child{
    border-right: 1px solid gray;
    width: 25%;
    text-align: center;
}
#calendarEvents table tr.scheduledEvent {
    background: lightgray;
}
#calendarEvents table td:last-child{

}
#calendarEvents .eventAddTime{
    width: 100%;
    text-align: left;
    border: 1px solid lightgray;
    border-radius: 5px;
}
#eventAddRow {
    display: none;
}
#eventAddRow td{
    text-align: left !important;
    vertical-align: top;
}
#eventAddRow select{
    width: 100%;
}
#eventCommand {
    width: 100%;
}
#eventAddRowButton input,
#eventAddRowSubmit input {
    width: 100%;
    font-size: 1em;
    padding: 5px;
    text-transform: uppercase;
}
#eventAddRowSubmit {
    display: none;
}
div.center {
    text-align: center;
}
#prevMonth,
#nextMonth {
    font-size: 0.8em;
    cursor: pointer;
}