@import url("reset.css");
#indexMenuContainer {
    position: fixed;
    left: 0;
    top: 0;
    display: inline-block;
    height: 100%;
    border: 0px solid black;
    padding-right: 2px;
    box-shadow: 0 2px 1px 1px darkgray;
}
#indexMenuContainer .icona {
    margin-bottom: 5px;
    width: 100%;
    margin: 0;
}
.indexMenuEntry {
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 5px 5px 0px 7px;
    border-radius: 25%;
    background-color: lightgray;
    box-shadow: 0 0 1px 1px darkgray;
    padding: 10px;
    border: 0px solid blue;
    color: black;
    font-size: 0.7em;
    height: calc((100% / 9) - 26px);
}
.indexMenuEntry:not(:last-child) {
    margin: 5px 5px 5px 7px;
}
.indexMenuEntry:first-child {
    margin-top: 7px;
}

#indexContainer {
    position: relative;
    padding: 7px 5px 7px 7px;
    margin-left: 0px;
}
#indexContainer table {
    width: 100%;
    background-color: transparent;
}
#indexContainer table td {
    width: 50%;
    padding: 10px;
    background-color: #eee;
}

#indexContainer table tr:first-child td {
    text-align: center;
    border-radius: 10px;
    background-color: lightgray;
    box-shadow: 0 0 1px 1px darkgray;
}











#tabellaCentrativa {
    width: 100%;
    height: 100%;
}
#tabellaCentrativa:not(.noHeader) {
    height: calc(100% - 70px);
}
#tabellaCentrativa td {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
@media screen and (min-width: 801px) {
}

@media screen and (max-width: 800px) {
}